{% extends 'base.html' %}

{% block title %} Guest Dashboard {% endblock %}


<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

    {% block homeactive %} active {% endblock homeactive %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block css %}
    @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,800&display=swap');
    body {
    color: white;
    background-image:
    url("https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80");

    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    }
    h4,h1{
    color: black;
    font-family: 'Space Mono', monospace;
    }
    li {
    color: white;
    }
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #404040;

    color: white;
    text-align: center;
    }
    .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:rgba(255,255,255, .5);
    padding: 5px;
    }
    .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color:rgba(255,255,255, .5);
    padding: 5px;
    }
    .grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    }
    .card-block {
    padding:1px;
    margin-top:1rem;
    min-height: 220px;
    background-color:transparent;
    font-family: 'Space Mono', monospace;
    }
    .main-container{
    overflow:scroll;
    overflow-y:auto;

    }
    .main-container::-webkit-scrollbar{
    display: none;
    }
    a{
    color:inherit;
    }
    p{
    color:black;
    }

    button1 {
    margin: 10px;
    }
    .custom-btn {
    width: 230px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    }

    .btn-6 {
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    }
    .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    }
    .btn-6:before,
    .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
    }
    .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
    }
    .btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
    }
    .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
    }
    .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
    }
    .btn-6 span:before,
    .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
    }
    .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
    }
    .btn-6 span:hover:before {
    width: 100%;
    }
    .btn-6 span:hover:after {
    width: 100%;
    }


    <!--    .main-container::-webkit-scrollbar {-->
    <!--  display: none;-->
    <!--}-->
    {% endblock %}
</head>
{% block body %}


<center>
    <br>
    <h1><strong>
        <center> Recent News</center>
    </strong></h1>
    <br>
    <div class="main-container " style="width: 80rem; height: 15rem; background-color:rgba(255,255,255, .5)">


        <div class="container-fluid">

            <div class="row flex-row flex-nowrap">
                {% for nws in news %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">

                        <h2><p>{{nws.title}}</p></h2>
                        <p>{{nws.content}}</p>

                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</center>

<br>

<div class="container my-4" style="background-color:rgba(255,255,255, .5)">
    <br>
    </hr>
    <h1><strong>

        <center>Society's Flats on Rent or Buy</center>
    </strong></h1>
    <br>


    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                    class="fas fa-chevron-right"></i></a>
        </div>

        <!--Slides-->
        <div class="carousel-inner" role="listbox" style="margin-left:17rem">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top"
                             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">1,2,3 BHK</h4>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{% url 'project:buy' %}">Buy</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top"
                             src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">1,2,3 BHK</h4>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{% url 'project:rent' %}">Rent</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.First slide-->


        </div>
        <!--/.Slides-->

    </div>
    <hr/>
    <h1><strong>

        <center>Society's Facilities</center>
    </strong></h1>
    <br>
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2019/08/parks-1566455734.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Park</h4>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://cdn.24.co.za/files/Cms/General/d/1678/f7b86f6b8f064e718f1b62c58799e521.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Creche</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://emilypost.com/client_media/images/blogs/everyday-gym.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Gym</h4>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://www.thespruce.com/thmb/HLJVq6A4qRqpoFXb_-WEjcUSTQQ=/941x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/inspiring-above-ground-swimming-pool-designs-4063956-1-00f5914a919d46c4b33aec7f2ae57afc.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Swimming Pool</h4>


                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->


    </div>
</div>
<h1><strong>
    <center> Home Services</center>
</strong></h1>
<br>
<center>
    <div style="width: 70rem;">
        <div class="grid-container">
            <button1 class="custom-btn btn-6"><span>AC Service</span></button1>
            <button1 class="custom-btn btn-6"><span>Home Service</span></button1>
            <button1 class="custom-btn btn-6"><span>Pest Control</span></button1>
            <button1 class="custom-btn btn-6"><span>Groceries</span></button1>


        </div>
    </div>
</center>
<br>
<h1><strong>
    <center> Other Services</center>
</strong></h1>
<br>
<center>
    <div style="width: 70rem; height: 10rem;">
        <div class="grid-container">
            <!--            <div class="grid-item"><h4><a href="{% url 'project:resident' %}"> Residents List</a></h4></div>-->
            <button1 class="custom-btn btn-6"><span>Emergency Numbers</span></button1>
            <button1 class="custom-btn btn-6"><span>Daily Helps</span></button1>
            <button1 class="custom-btn btn-6"><span>Documents</span></button1>
            <button1 class="custom-btn btn-6"><span>Communications</span></button1>

        </div>
    </div>
</center>
<!-- Grid container -->
<div class="container p-3">
    <!-- Section: Social media -->
    <section class="mb-3" style="background-color:rgba(255,255,255, .5);">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5" action="{% url 'project:complain' %}" method="POST">
            {% csrf_token %}

            <h1><strong>
                <center> Complaint and Suggestion</center>
            </strong></h1>
            <br>

            <!-- Name -->
            <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name" name="name"
                   required>

            <!-- Email -->
            <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail"
                   name="email" required>

            <!-- Subject -->

            <select class="browser-default custom-select mb-4" name="value" required>
                <option value="" disabled>Choose option</option>
                <option value='Feedback' selected>Feedback</option>
                <option value='Complaint'>Complaint</option>

            </select>

            <!-- Message -->
            <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                          placeholder="Message" name="message" required></textarea>
            </div>


            <!-- Send button -->
            <button class="btn btn-primary" type="submit">Send</button>

        </form>
    </section>
</div>


<!-- Default form contact -->
<footer class="bg-dark text-center text-dark" style="background-color:rgba(255,255,255, .5);">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->


        <!-- Section: Text -->
        <section class="mb-4" style="background-color:rgba(255,255,255, .5);font-family: 'Space Mono', monospace;">
            <!--Section: Contact v.2-->
            <section class="mb-4">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to
                    contact us directly. Our team will come back to you within
                    a matter of hours to help you.</p>

                <div class="row">

                    <!--Grid column-->
                    <center>
                        <div class="col-md-9 mb-md-0 mb-5">

                            <form id="contact-form" name="contact-form" action="{% url 'project:contact' %}"
                                  method="POST">
                                {% csrf_token %}

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="name" name="name" class="form-control" required>
                                            <label for="name" class="">Your name</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="email" name="email" class="form-control" required>
                                            <label for="email" class="">Your email</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input type="text" id="subject" name="subject" class="form-control"
                                                   required>
                                            <label for="subject" class="">Subject</label>
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <textarea type="text" id="message" name="message" rows="2"
                                                      class="form-control md-textarea" required></textarea>
                                            <label for="message">Your message</label>
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->
                                <center>

                                    <button class="btn btn-primary" type="submit">Send</button>

                                </center>
                                <br>

                            </form>

                            <div class="status"></div>
                        </div>
                        <!--Grid column-->


                </div>

            </section>
            <!--Section: Contact v.2-->
        </section>

    </div>
    <!-- Grid container -->
    <h2 style="color:white">Kailash Residency</h2>
    <p style="color:white">Medical Road, Jhansi.
        <strong>Secretary:</strong> R.K Jain Mob.no.: 1234567890</p>
    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://tftus.com/">tftus.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


</div>

</html>
{% endblock %}

