{% extends 'base.html' %}

{% block title %} Signup Page {% endblock %}
{% block registeractive %} active {% endblock registeractive %}

{% block css %}
body{
 background-image:
    url("https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80");

    background-repeat: no-repeat;
    background-size: cover;
}
{% endblock %}
{% block body %}

<form action="{% url 'project:signup' %}" method="POST"> {% csrf_token %}
    <div class="container mt-5" style="background-color:rgba(255,255,255, .5); width:700px; font-size:24px">
        <div class="mb-3" style="padding:2px; margin-top:2rem">
            <br>
            <label for="name" class="form-label" >Name</label>
            <input type="name" class="form-control" id="name" name="name" required>
        </div>
         <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="tower" class="form-label">Tower No</label>
            <input type="number" class="form-control" id="tower" name="tower" required onkeypress="return event.charCode >= 48" min="1">
        </div>
        <div class="mb-3">
            <label for="Flat" class="form-label">Flat No</label>
            <input type="number" class="form-control" id="flat" name="flat"required onkeypress="return event.charCode >= 48" min="1">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone No</label>
            <input type="number" class="form-control" id="phone" name="phone" required onkeypress="return event.charCode >= 48" min="1">
        </div>



        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" required>


        </div>

        <br>
        <center>
        <button type="submit" class="btn btn-primary">Send OTP</button>
        </center>
        <br>
    </div>
</form>
       {% if error %}
        {{ error }}
        {% endif %}

{% endblock %}