{% extends 'base.html' %}

{% block title %} Visitors Page {% endblock %}



{% block css %}


body{
 background-image:
    url("https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80");

    background-repeat: no-repeat;
    background-size: cover;
}

form {
max-width: 300px;
margin: 10px auto;
padding: 10px 20px;
background: #f4f7f8;
border-radius: 8px;
}

h1 {
margin: 0 0 30px 0;
text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea,
select {
background: rgba(255,255,255,0.1);
border: none;
font-size: 16px;
height: auto;
margin: 0;
outline: 0;
padding: 15px;
width: 100%;
background-color: #e8eeef;
color: #8a97a0;
box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
margin: 0 4px 8px 0;
}

select {
padding: 6px;
height: 32px;
border-radius: 2px;
}

<!--button {-->
<!--padding: 19px 39px 18px 39px;-->
<!--color: #FFF;-->
<!--background-color: #4bc970;-->
<!--font-size: 18px;-->
<!--text-align: center;-->
<!--font-style: normal;-->
<!--border-radius: 5px;-->
<!--width: 100%;-->
<!--border: 1px solid #3ac162;-->
<!--border-width: 1px 1px 3px;-->
<!--box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;-->
<!--margin-bottom: 10px;-->
<!--}-->

fieldset {
margin-bottom: 30px;
border: none;
}

legend {
font-size: 1.4em;
margin-bottom: 10px;
}

label {
display: block;
margin-bottom: 8px;
}

label.light {
font-weight: 300;
display: inline;
}

.number {
background-color: #5fcf80;
color: #fff;
height: 30px;
width: 30px;
display: inline-block;
font-size: 0.8em;
margin-right: 4px;
line-height: 30px;
text-align: center;
text-shadow: 0 1px 0 rgba(255,255,255,0.2);
border-radius: 100%;
}

@media screen and (min-width: 480px) {

form {
max-width: 480px;
}

a{
    color:inherit;
    }

{% endblock %}
{% block body %}
<main role="main" class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</main>
<div class="row" >
    <div class="col-md-12" >
        <form action="{% url 'project:visitors' %}" method="post">{% csrf_token %}
            <h1> Add Visitors </h1>


            <fieldset>

                <legend>Your Basic Info</legend>
                <hr>

                <label for="name">Name:</label>
                <input type="text" id="name" name="name">

                <strong><label>Gender:</label></strong>
                <input type="radio"  name="gender" value="male"><label  class="light"> Male </label><br>
                <input type="radio"  name="gender" value="female"><label  class="light"> Female </label><br>



                <label for="mobile">Mobile No:</label>
                <input type="number" id="mobile" name="mobile">

                <label for="name">Address:</label>
                <input type="text" name="place">


            </fieldset>


            <center><button type="submit" class="btn btn-primary">Submit</button></center>
            <br>
            <div class="text-center">Click here to go? <a href="{% url 'project:guest' %}">Home</a></div>
</div>
        </form>

    </div>

</div>


{% endblock %}
